body {
  font-family: Vollkorn, serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 38px;
  font-weight: 400;
}
h2 {
  display: block;
  margin: -36px 0px 10px;
  box-shadow: none;
  font-family: Montserrat, sans-serif;
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  margin: 4px auto 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  list-style-type: none;
}
.button {
  display: inline-block;
  padding: 15px 33px;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: #47474f;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Vollkorn, serif;
  color: #47474f;
  font-size: 19px;
  font-style: italic;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: white;
}
.button.form {
  margin-top: 23px;
  margin-bottom: 24px;
  padding-right: 54px;
  padding-left: 54px;
  border-width: 1px 1px 2px;
  border-color: #7ec4bd;
  border-radius: 4px;
  color: #7ec4bd;
}
.button.form:hover {
  background-color: rgba(126, 196, 189, 0.34);
}
.button.hero {
  margin-top: 26px;
  border-radius: 4px;
  background-color: rgba(242, 250, 255, 0.65);
  font-family: Ubuntu, Helvetica, sans-serif;
}
.button.hero:hover {
  background-color: white;
}
.header {
  margin-top: -70px;
  padding: 168px 10px 98px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(rgba(66, 66, 66, 0.68), rgba(255, 255, 255, 0.29)), url('../images/red.jpg');
  background-image: -o-linear-gradient(rgba(66, 66, 66, 0.68), rgba(255, 255, 255, 0.29)), url('../images/red.jpg');
  background-image: linear-gradient(rgba(66, 66, 66, 0.68), rgba(255, 255, 255, 0.29)), url('../images/red.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  color: white;
  text-align: center;
}
.header.project-page {
  margin-top: 63px;
  padding-top: 77px;
  padding-bottom: 77px;
  background-image: url('../images/lake.jpg'), none;
  background-position: 50% 42%, 0% 61%;
  background-size: cover, cover;
  background-repeat: no-repeat, repeat;
}
.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: auto;
  padding-top: 18px;
  padding-bottom: 18px;
  float: none;
  background-color: white;
  opacity: 1;
}
.nav-link {
  margin-top: 23px;
  margin-left: 34px;
  padding: 0px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 300ms ease;
  -o-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #404040;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.nav-link:hover {
  border-bottom-color: #7ec4bd;
}
.logo-title {
  margin-top: 13px;
  float: left;
  font-family: Oswald, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.logo-img {
  margin-top: 5px;
  margin-right: 18px;
  float: left;
}
.main-heading {
  margin-top: 68px;
  padding-top: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  line-height: 55px;
  font-weight: 400;
  text-transform: uppercase;
}
.main-heading.cushycms {
  color: white;
  text-shadow: #212121 -1px -2px 0px;
}
.divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 28px auto;
  background-color: white;
}
.divider.grey {
  width: 60px;
  margin-top: 43px;
  margin-bottom: 43px;
  background-color: #7ec4bd;
}
.main-subtitle {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.81);
  font-size: 18px;
  font-style: italic;
}
.about-section {
  padding-bottom: 30px;
  background-color: transparent;
  text-align: center;
}
.about-text {
  margin-top: 35px;
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #47474f;
  font-size: 16px;
  line-height: 25px;
}
.x-icon {
  margin-top: -26px;
  margin-bottom: 34px;
}
.section {
  padding-top: 69px;
  padding-bottom: 69px;
  text-align: center;
}
.section.grey {
  overflow-x: visible;
  overflow-y: visible;
  background-color: whitesmoke;
}
.section.contact {
  background-color: transparent;
  background-image: -webkit-linear-gradient(rgba(157, 245, 185, 0.87), rgba(126, 196, 159, 0.54)), url('../images/footer-bg.jpg');
  background-image: -o-linear-gradient(rgba(157, 245, 185, 0.87), rgba(126, 196, 159, 0.54)), url('../images/footer-bg.jpg');
  background-image: linear-gradient(rgba(157, 245, 185, 0.87), rgba(126, 196, 159, 0.54)), url('../images/footer-bg.jpg');
  background-position: 0% 0%, 0% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  font-family: Vollkorn, serif;
}
.section.footer {
  background-color: black;
}
.section.grayfaq {
  background-color: rgba(126, 196, 189, 0.61);
}
.section.gray {
  background-color: whitesmoke;
}
.grey-icon-wrapper {
  margin-bottom: 38px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(126, 196, 189, 0.18);
}
.grey-icon-wrapper.push-top {
  background-color: rgba(126, 196, 189, 0.18);
}
.project-wrapper {
  position: relative;
  bottom: 0px;
  display: block;
  -webkit-transition: bottom 300ms ease;
  -o-transition: bottom 300ms ease;
  transition: bottom 300ms ease;
  color: #333;
  text-decoration: none;
}
.project-wrapper:hover {
  bottom: 8px;
}
.team-image {
  margin-bottom: 21px;
  border-radius: 100%;
  opacity: 1;
}
.role {
  margin-bottom: 16px;
  font-family: Vollkorn, serif;
  font-size: 17px;
  font-style: italic;
}
.social-link {
  width: 29px;
  height: 29px;
  margin: 3px;
  padding-top: 5px;
  padding-left: 1px;
  border-radius: 100%;
  background-color: whitesmoke;
  box-shadow: transparent 0px 0px 0px 1px inset;
  -webkit-transition: box-shadow 300ms ease;
  -o-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}
.social-link:hover {
  box-shadow: #7ec4bd 0px 0px 0px 2px inset;
}
.team-title {
  margin-bottom: 7px;
}
.testimonial-slider {
  height: auto;
  background-color: transparent;
}
.quote-icon {
  margin-bottom: 37px;
}
.arrow {
  width: 40px;
  margin-top: -118px;
  margin-bottom: 0px;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #e3e3e3;
  font-size: 30px;
}
.arrow:hover {
  color: #333;
}
.testimonial-slide {
  width: 50%;
  padding: 30px 34px 29px;
  text-align: center;
}
.testimonial-slide.left-border {
  border-left: 2px solid rgba(126, 170, 196, 0.2);
}
.mask {
  display: block;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.team-row {
  margin-bottom: 20px;
}
.testimonial {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 33px;
}
.from {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #ababab;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.icon-wrapper {
  height: 95px;
  margin-bottom: 10px;
  padding-top: 13px;
}
.icon-wrapper._2 {
  padding-top: 20px;
}
.footer-logo {
  margin-bottom: 15px;
  opacity: 0.4;
}
.contact-text {
  color: #212121;
  font-size: 17px;
}
.link {
  color: #1c1c1c;
}
.link.light {
  color: rgba(255, 255, 255, 0.4);
}
.social-wrapper {
  display: block;
  margin-bottom: 11px;
  margin-left: 33%;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  text-align: left;
  text-decoration: none;
}
.social-wrapper:hover {
  opacity: 0.43;
}
.footer-text {
  color: rgba(255, 255, 255, 0.4);
}
.social-link-text {
  display: inline-block;
}
.social-icon {
  margin-top: -6px;
  margin-right: 9px;
}
.field {
  height: 57px;
  margin-bottom: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: black black rgba(0, 0, 0, 0.27);
  background-color: whitesmoke;
  box-shadow: transparent 3px 0px 0px 0px inset;
  color: #7ec4bd;
  font-size: 18px;
  font-style: italic;
}
.field:focus {
  box-shadow: #7ec4bd 3px 0px 0px 0px inset;
}
.field.large {
  height: 127px;
}
.field.darker {
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.27);
  background-color: white;
  -webkit-transition: box-shadow 300ms ease;
  -o-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}
.form-wrapper {
  padding-right: 20%;
  padding-left: 20%;
}
.success-message {
  display: none;
  padding-top: 82px;
  padding-bottom: 82px;
  background-color: transparent;
  color: #7ec4bd;
}
.project-info {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: whitesmoke;
}
.project-title {
  margin-bottom: 4px;
}
.nav-menu {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
  width: auto;
  margin-left: 0px;
  float: right;
  clear: none;
}
.grow-row {
  margin-bottom: 42px;
}
.screenshot {
  margin-bottom: 43px;
}
.face {
  margin-bottom: 10px;
  border-radius: 100%;
}
.experince_li {
  margin-top: 13px;
  font-family:'PT Sans', sans-serif;
  font-size: 16px;
  text-align: left;
}
.experince_ul {
  font-family:'PT Sans', sans-serif;
}
.h1_practice {
  margin-top: 50px;
  padding-top: 0px;
  box-shadow: none;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 300;
}
.h1_practice.cushycms {
  box-shadow: none;
  font-family: Montserrat, sans-serif;
  font-size: 27px;
  font-weight: 400;
}
.h3_practice {
  margin-top: 30px;
}
.li_practice {
  margin-top: 13px;
  padding-bottom: 6px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 14px;
  text-align: left;
  list-style-type: square;
}
.practice_ul {
  list-style-type: disc;
}
.leaf_icon {
  margin-top: 24px;
  padding-bottom: 0px;
}
.about_para {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.background_practice {
  margin-bottom: 0px;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.rep-clients {
  font-size: 13px;
}
.practice-col {
  margin-top: 29px;
}
.practice-row {
  margin-top: 32px;
  margin-bottom: 45px;
  padding-bottom: 13px;
  border-radius: 5px;
  background-color: rgba(242, 250, 255, 0.65);
  background-image: url('../images/header_shadow.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.practice-row.green {
  margin-top: 32px;
  border-radius: 3px;
  background-color: rgba(242, 250, 255, 0.65);
  background-repeat: no-repeat;
}
.arrow-icon {
  display: inline-block;
  width: auto;
  margin-left: 1px;
  float: left;
}
.icon-img {
  position: static;
  display: inline-block;
  overflow-x: visible;
  overflow-y: visible;
  margin-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
}
.about-h3 {
  display: inline-block;
  margin-top: 25px;
}
.leaf-icon {
  margin-top: 25px;
  opacity: 0.12;
}
.section-hidden {
  display: block;
}
.leaf {
  margin-top: -49px;
  margin-bottom: 0px;
}
.about-li {
  margin-top: 12px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 17px;
}
.about-ul {
  margin-top: 27px;
}
.practice {
  padding-bottom: 13px;
  border-radius: 4px;
  background-color: rgba(242, 250, 255, 0.65);
  background-image: url('../images/header_shadow.png');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  box-shadow: rgba(242, 250, 255, 0.65) 0px 7px 6px 4px;
}
.prac-h3 {
  display: inline-block;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #7eaac4;
  text-transform: uppercase;
}
.prac-p {
  font-size: 15px;
}
.prac-p.cushycms {
  margin-right: 11px;
  margin-left: 11px;
  padding-top: 30px;
  padding-right: 91px;
  padding-left: 91px;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
}
.main-h2 {
  box-shadow: none;
  font-size: 19px;
}
.main-h2.cushycms {
  margin-top: 23px;
  box-shadow: none;
  font-size: 16px;
  text-shadow: black 0px -1px 0px;
}
.tab-link {
  width: 21%;
  margin-right: 2%;
  padding-top: 21px;
  padding-bottom: 21px;
  border: 1px solid #7ec4bd;
  border-radius: 6px;
  background-color: transparent;
  box-shadow: #7ec4bd 1px 1px 1px 0px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.tab-link:hover {
  background-color: rgba(126, 196, 189, 0.34);
}
.tab-link.w--current {
  border-radius: 2px;
}
.tab-link.one {
  background-color: transparent;
}
.tab-link.one:hover {
  background-color: rgba(126, 196, 189, 0.34);
}
.tab-link.one.w--current {
  border-style: solid;
  border-radius: 6px;
  background-color: rgba(126, 196, 189, 0.63);
}
.tab-link.one.w--current:hover {
  background-color: rgba(126, 196, 189, 0.63);
}
.tab-link._2 {
  border-color: #7ec4bd;
  border-radius: 6px;
}
.tab-link._2.w--current {
  background-color: rgba(126, 196, 189, 0.63);
}
.tab-link._3 {
  border-radius: 6px;
}
.tab-link._3.w--current {
  background-color: rgba(126, 196, 189, 0.63);
}
.tab-link._4 {
  display: none;
}
.tab-link._4.w--current {
  border-color: #7ea2c4;
  border-radius: 6px;
  background-color: rgba(126, 196, 189, 0.63);
}
.tab-text {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.tabs-menu {
  margin-bottom: 10px;
}
.footer-h2 {
  box-shadow: none;
}
html.w-mod-js *[data-ix="display-none-on-load"] {
  display: none;
}
@media (max-width: 991px) {
  .button.hero {
    border-radius: 2px;
  }
  .nav-link {
    margin: 0px 13px;
    padding: 20px 0px;
  }
  .nav-link:hover {
    border-bottom-color: transparent;
  }
  .brand-block {
    margin-left: 41px;
  }
  .main-heading {
    font-size: 38px;
    line-height: 44px;
  }
  .project-wrapper:hover {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .testimonial {
    font-size: 17px;
  }
  .social-wrapper {
    margin-left: 30%;
  }
  .menu-button {
    margin-top: 7px;
    padding: 10px;
    font-size: 32px;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #7ec4bd;
  }
  .nav-menu {
    background-color: transparent;
  }
  .h1_practice {
    box-shadow: none;
  }
  .prac-p.cushycms {
    padding-right: 13px;
    padding-left: 13px;
  }
  .tab-link.one {
    width: auto;
    margin-bottom: 14px;
  }
  .tab-link._2 {
    width: auto;
    margin-bottom: 14px;
  }
  .tab-link._3 {
    width: auto;
    margin-bottom: 10px;
  }
  .tab-link._3.w--current {
    width: auto;
  }
  .tab-link._4 {
    width: auto;
    margin-bottom: 10px;
  }
  .footer-h2 {
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
    box-shadow: none;
  }
  p {
    padding: 10px;
  }
  .header {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
  }
  .logo-title {
    margin-top: 6px;
  }
  .logo-img {
    width: 50px;
  }
  .main-heading {
    margin-top: 141px;
  }
  .about-section {
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .x-icon {
    margin-bottom: 21px;
  }
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .grey-icon-wrapper {
    display: inline-block;
    margin-bottom: 16px;
    padding: 34px 56px;
  }
  .grey-icon-wrapper.push-top {
    margin-top: 30px;
  }
  .team-image {
    width: 242px;
  }
  .testimonial-slide {
    width: 100%;
  }
  .testimonial-slide.left-border {
    border-left-width: 0px;
  }
  .icon-wrapper {
    height: 85px;
  }
  .icon-wrapper._2 {
    margin-top: 37px;
  }
  .social-wrapper {
    margin-left: 0%;
    text-align: center;
  }
  .form-wrapper {
    padding-right: 10%;
    padding-left: 10%;
  }
  .menu-button {
    margin-top: 0px;
  }
  .nav-menu {
    background-color: #b0e8e2;
  }
  .member {
    padding-bottom: 47px;
  }
  .grow-row {
    margin-bottom: 0px;
  }
  .screenshot {
    width: 90%;
  }
  .h1_practice {
    box-shadow: none;
  }
  .prac-p.cushycms {
    padding-right: 12px;
    padding-left: 12px;
  }
  .tab-text {
    font-size: 16px;
    text-align: center;
  }
  .tabs-menu {
    margin-right: 18px;
    margin-left: 18px;
  }
  .footer-h2 {
    box-shadow: none;
  }
}
@media (max-width: 479px) {
  h2 {
    margin-top: -5px;
    padding-right: 8px;
    padding-left: 8px;
    box-shadow: none;
  }
  h3 {
    margin-top: 23px;
    padding-top: 0px;
  }
  p {
    margin: 0px 5px;
    padding: 9px;
  }
  .nav-link {
    border-bottom: 1px none #7ec4bd;
  }
  .brand-block {
    margin-left: 1px;
  }
  .main-heading {
    margin-top: 125px;
    font-size: 31px;
    line-height: 47px;
  }
  .about-text {
    font-size: 15px;
  }
  .about-text.cushycms {
    padding: 9px;
    font-size: 15px;
  }
  .section.contact {
    background-position: 0% 0%, 50% 50%;
  }
  .grey-icon-wrapper {
    display: block;
  }
  .team-image {
    width: 190px;
  }
  .mask {
    margin-bottom: -120px;
  }
  .testimonial {
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  .form-wrapper {
    padding-right: 5%;
    padding-left: 5%;
  }
  .nav-menu {
    background-color: #b0e8e2;
  }
  .h1_practice {
    box-shadow: none;
  }
  .h1_practice.cushycms {
    padding-right: 18px;
    padding-left: 18px;
    box-shadow: none;
    font-size: 22px;
  }
  .li_practice {
    padding-right: 5px;
    padding-left: 2px;
  }
  .prac-h3 {
    font-size: 13px;
  }
  .prac-p.cushycms {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
  .main-h2 {
    box-shadow: none;
    font-size: 17px;
  }
  .tab-link.one {
    width: auto;
    margin-bottom: 14px;
  }
  .tab-link._2 {
    width: auto;
    margin-bottom: 14px;
  }
  .tab-link._2.w--current {
    margin-bottom: 14px;
    padding-top: 21px;
  }
  .tab-link._3 {
    width: auto;
    margin-bottom: 14px;
  }
  .tab-link._4 {
    width: auto;
    margin-bottom: 14px;
  }
  .tab-link._4.w--current {
    width: auto;
  }
  .footer-h2 {
    padding-right: 17px;
    padding-left: 17px;
    box-shadow: none;
    font-size: 28px;
  }
}

