/* header */
#header {
height: 251px;
background-position: 50% 0;
background: #FFFFFF url(images/content_pane-gradient.gif) repeat-x scroll left bottom;
padding-top:20px;
text-align: center;
}
#headerspec {
height: 251px;
background-position: 50% 0;
background: #FFFFFF url(images/content_pane-gradient.gif) repeat-x scroll left bottom;
padding-top:20px;
text-align: center;

	
	
}
#logoimage {
position:relative;
top:2px;
width: 480px;
height: 238px;
}

/*silder*/

body { 
margin: 0px;
padding: 0; 
font-family: "Ubuntu",Lucida,Verdana, arial, sans-serif;
color: #333333;
font-size: 13px;
background: #ffffff; 
line-height: 20px;
}

a {
color:#72A73C;
}


#wrapper {
width: 960px;
margin: 0 auto;
padding-top:20px;
}

#intro {
padding-bottom: 30px;

}


div#feath1 h1 {
font-size:46px;
font-family: "TheanoDidotRegular", serif;
font-weight:normal;
margin-bottom:28px;
color:#444444;
letter-spacing: 2px;
text-shadow:0 -1px 0 #777777;
text-align: center;
}


h2 {
margin: 0;
margin-bottom: 20px;
padding: 0;
color:#007AC6;
font-size:26px;
font-weight:normal;

}

h3 {
margin: 0;
padding: 5px;
font-size:1.17em;
color:#333333;
}

h4 {
color:#72A73C;
}


#slider {
width: 620px;
margin: 0 auto;
position: relative;
}

.scroll {
height: 400px;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
width: 620px;
margin-top: 15px;
overflow: auto;
overflow-x: hidden;
position: relative;
clear: left;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius: 3px;
	
}

.scrollContainer div.panel {
padding: 20px;
height: 210px;
width: 580px;
}

#shade {
background: #EDEDEC url(images/shade.jpg) no-repeat 0 0;
height: 50px;
}


ul.navigation {
list-style: none;
margin: 0;
padding: 0;
padding-bottom: 9px;
text-align: center;
}

li.specul {
padding: 20px;

}


ul.navigation li {
display: inline;
margin-right: 10px;
}


ul.navigation a {
padding: 16px;
color: #3F89D4;
text-decoration: none;
border:1px solid #DDDDDD;
-moz-border-radius: 0px 20px 0px 20px;
border-radius: 0px 20px 0px 20px;
-webkit-border-radius: 0px 20px 0px 20px;
-moz-box-shadow: 1px 1px 2px hsla(240, 38%, 50%, 0.27) inset; 
-webkit-box-shadow: 1px 1px 2px hsla(240, 38%, 50%, 0.27) inset; 
box-shadow: 1px 1px 2px hsla(240, 38%, 50%, 0.27) inset; 



}



ul.navigation a:hover {
background-color: #f6f6f6;
color:#72A73C;
-moz-border-radius: 0px 20px 0px 20px;
border-radius: 0px 20px 0px 20px;
-webkit-border-radius: 0px 20px 0px 20px;
border:1px solid #DDDDDD;
}


ul.navigation a.selected {
background: #ffffff; /* old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* ie */
color:#111;
border-radius: 23px;
border:1px solid #ddd;
-moz-border-radius: 20px 0px 20px 0px;
border-radius: 20px 0px 20px 0px;
-webkit-border-radius: 20px 0px 20px 0px;
padding: 16px;
-moz-box-shadow: 1px 1px 2px hsla(240, 38%, 50%, 0.27) ; 
-webkit-box-shadow: 1px 1px 2px hsla(240, 38%, 50%, 0.27); 
box-shadow: 1px 1px 2px hsla(240, 38%, 50%, 0.27); 


}


ul.navigation a:focus {
outline: none;

}


.scrollButtons {
position: absolute;
top: 150px;
cursor: pointer;
}


.scrollButtons.left {
left: -47px;
}

.scrollButtons.right {
right: -47px;
}

.hide {
display: none;
}

/*slider end  */

/*cleint test*/

#clientest {
background: #FFFFFF;
-moz-border-radius: 8px;
-webkit-border-radius:8px;
border-radius: 8px;
width: 960px;
margin: 60px auto;
padding:20px;
}


#clientest p {
font-size:13px;
color:#333333;
padding: 5px;
line-height: 20px;
}


.container {
margin-top:30px;
border:1px solid #ffffff;
background: #FFFFFF url(images/content_pane-gradient.gif) repeat-x scroll left bottom;

}


/* footer */
#footer {
background:#fff;
width:100%;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius: 8px;
font-family: 'Helvetica',Arial,sans-serif;
}


#footer h2 {
height:35px; 
padding:0px 0 22px 0; 
font-size:2.05em;
}


#footer h2, #footer h3, #footer p {
text-align:center;
}


#footer h3 {
margin-top:15px;
color:#264a6f; 
font-size:2em; 
padding-bottom:5px;
text-shadow: 0px -1px 0px #ddd;
}


#footer h3#phonenumber {
font-size:1.5em;
}


#footer p {
color:#7f8fa1; 
font-size:0.875em; 

}

#footer p a {
color:#3F89D4; 
font-size: 1.5em;
padding: 5px;
text-decoration: none;


}

#footer p a#websitelink {
color:#3F89D4; 
font-size: 0.875em;
}

#footer p a:hover {
color: #72A73C;
}


/* panel Area */
.panel img {
padding: 2px;
margin: 10px;
}
#clientest img {
padding: 2px;
margin-right: 10px;
}



#header_shadow {
background:url("images/header_shadow.png") no-repeat 50% 0px;
height:38px;
margin-top: 8px;
}
#header_shadowbtm {
background:url("images/header_shadow.png") repeat-x 50% 0px;
height:38px;
margin-top: 8px;
}
*|*:-moz-any-link img, img[usemap], object[usemap] {
border:none;
}
#privacycnt img {
padding: 2px;
margin-left: 10px;
margin-bottom:10px;
}
#privacycnt {
border-top:1px solid #DDDDDD;
background: #FFFFFF url(images/content_pane_gradient.png) repeat-x scroll left bottom;
-moz-border-radius: 8px;
-webkit-border-radius:8px;
border-radius: 8px;
width: 960px;
margin: 60px auto;
padding:20px;
}


#hours {
margin-left: 10px;
padding-left: 37px;
}

#boardshadow {
margin-top: 20px;
}
#grnleaf_pan {
margin-right: -23px;
}

#grnleaf_180_pan {
margin-left:-311px;
margin-top:219px;
position:absolute;


}
@font-face {
font-family: 'TheanoDidotRegular';
src: url('TheanoDidot-Regular-webfont.eot');
src: local('‰÷¼'), url('TheanoDidot-Regular-webfont.woff') format('woff'), url('TheanoDidot-Regular-webfont.ttf') format('truetype'), url('TheanoDidot-Regular-webfont.svg#webfontZcpmo3Hm') format('svg');
font-weight: normal;
font-style: normal;
}

h4.blue_tag {
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:-moz-linear-gradient(center top , #E3EBF3, #D5E1ED) repeat scroll 0 0 transparent;
border-color:#FFFFFF #D5E1ED #B8CADD;
border-left:1px solid #D5E1ED;
border-right:1px solid #D5E1ED;
border-style:solid;
border-width:1px;
color:#2963A4;
display:block;
font-size:14px;
font-weight:bold;
height:30px;
line-height:31px;
margin:0 0 87px;
overflow:hidden;
padding:0 8px;
text-shadow:0 1px 0 #FFFFFF;
width:78px;
float: left;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3EBF3), to(#D5E1ED));
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
position: fixed;
margin-left: -4px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E3EBF3', endColorstr='#D5E1ED',GradientType=0 ); /* ie */


}


h4.blue_tag a {
color: #2963A4;
text-decoration: none;
display: block;

}
h4.blue_tag a:hover {
color: #72A73C;
}


h4.red_tag {
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:-moz-linear-gradient(center top , #E3EBF3, #D5E1ED) repeat scroll 0 0 transparent;
border-color:#FFFFFF #D5E1ED #B8CADD;
border-left:1px solid #D5E1ED;
border-right:1px solid #D5E1ED;
border-style:solid;
border-width:1px;
color:#2963A4;
display:block;
font-size:14px;
font-weight:bold;
height:30px;
line-height:31px;
margin:53px 0 87px;
overflow:hidden;
padding:0 8px;
text-shadow:0 1px 0 #FFFFFF;
width:78px;
float: left;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3EBF3), to(#D5E1ED));
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
position: fixed;
margin-left: -4px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E3EBF3', endColorstr='#D5E1ED',GradientType=0 ); /* ie */

}

h4.red_tag a {
color: #2963A4;
text-decoration: none;
display: block;

}
h4.red_tag a:hover {
color: #72A73C;
}



#serve{
float:left;
-moz-box-shadow:7px 6px 13px hsla(240, 38%, 50%, 0.27);
-webkit-box-shadow: 7px 6px 13px hsla(240, 38%, 50%, 0.27);
box-shadow: 7px 6px 13px hsla(240, 38%, 50%, 0.27);
float:left;
margin:0 26px 0 30px;
padding:5px;
}

.serves{
float:left;
width:255px;

}

.serves ul{
margin:6px 6px 14px -22px;
list-style: none;
}
.serves li{
padding:0 0 0 16px;
}
.serves li span.tip {
background: url("https://s3-us-west-1.amazonaws.com/myskinderm/1301262185_accept.png") no-repeat scroll 0 0 transparent;
width:100%;
padding: 1px 0 0 23px;
line-height: 2;


}

#stethscope {
position: inherit;
margin-bottom: 20px;
float: right;
}

img {
border:none;
}
#middlecnt {
width: 960px;
margin: 70px auto;
padding: 5px;
}
#juvdermimg {
margin-bottom: -29px;
}
#noscript-warning {
background-color: purple;
color:white;
font-size: 1.5em;
text-align: center;
}
#latissebeforeafter {
text-align: center;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(images/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(images/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(images/border1.png) no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(images/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(images/border1.png) repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(images/border1.png) no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(images/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(images/border2.png) repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxLoadingOverlay{background:#fff url(images/loading.gif) no-repeat 5px 5px;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

